# Hotel Booking Demand - Data Exploration

This notebook explores the hotel booking dataset to understand booking patterns, cancellation rates, and key features.

**Dataset**: Hotel Booking Demand  
**Goal**: Analyze booking behavior and identify cancellation patterns

## 1. Import Required Libraries

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

print("Libraries imported successfully!")

Libraries imported successfully!

## 2. Load the Dataset

In [2]:
# Load dataset
df = pd.read_csv('../data/hotel_bookings.csv')

print(f"Dataset loaded successfully!")
print(f"Shape: {df.shape[0]} rows, {df.shape[1]} columns")
print(f"\nFirst few rows:")
df.head()

Dataset loaded successfully!
Shape: 119390 rows, 32 columns

First few rows:

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

## 3. Data Overview

In [3]:
# Dataset information
print("Dataset Information:")
print("=" * 50)
df.info()

Dataset Information:
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [4]:
# Check for missing values
print("Missing Values:")
print("=" * 50)
missing = df.isnull().sum()
missing_pct = (missing / len(df)) * 100
missing_df = pd.DataFrame({
    'Missing Count': missing[missing > 0],
    'Percentage': missing_pct[missing > 0]
})
if len(missing_df) > 0:
    print(missing_df)
else:
    print("No missing values found!")

Missing Values:
==================================================
          Missing Count  Percentage
children              4    0.003350
country             488    0.408744
agent             16340   13.686238
company          112593   94.306893

## 4. Cancellation Analysis

In [5]:
# Cancellation distribution
print("Cancellation Analysis:")
print("=" * 50)
cancel_counts = df['is_canceled'].value_counts()
cancel_pct = (cancel_counts / len(df)) * 100

print(f"\nNot Canceled (0): {cancel_counts.get(0, 0)} ({cancel_pct.get(0, 0):.2f}%)")
print(f"Canceled (1): {cancel_counts.get(1, 0)} ({cancel_pct.get(1, 0):.2f}%)")
print(f"\nCancellation Rate: {cancel_pct.get(1, 0):.2f}%")

Cancellation Analysis:
==================================================

Not Canceled (0): 75166 (62.96%)
Canceled (1): 44224 (37.04%)

Cancellation Rate: 37.04%

## 5. Hotel Type Analysis

In [6]:
# Hotel type distribution
print("Hotel Type Distribution:")
print("=" * 50)
hotel_counts = df['hotel'].value_counts()
for hotel_type, count in hotel_counts.items():
    pct = (count / len(df)) * 100
    print(f"{hotel_type}: {count} ({pct:.2f}%)")

# Cancellation by hotel type
print("\n\nCancellation by Hotel Type:")
print("=" * 50)
cancel_by_hotel = df.groupby('hotel')['is_canceled'].agg(['sum', 'count', 'mean'])
cancel_by_hotel.columns = ['Cancellations', 'Total Bookings', 'Cancellation Rate']
cancel_by_hotel['Cancellation Rate'] = (cancel_by_hotel['Cancellation Rate'] * 100).round(2)
print(cancel_by_hotel)

Hotel Type Distribution:
==================================================
City Hotel: 79330 (66.45%)
Resort Hotel: 40060 (33.55%)


Cancellation by Hotel Type:
==================================================
              Cancellations  Total Bookings  Cancellation Rate
hotel
City Hotel            33102           79330              41.73
Resort Hotel          11122           40060              27.76

## 6. Guest Analysis

In [7]:
# Guest composition
print("Guest Composition:")
print("=" * 50)
print(f"Adults - Mean: {df['adults'].mean():.2f}, Median: {df['adults'].median()}")
print(f"Children - Mean: {df['children'].mean():.2f}, Median: {df['children'].median()}")
print(f"Babies - Mean: {df['babies'].mean():.2f}, Median: {df['babies'].median()}")

# Create total guests column
df['total_guests'] = df['adults'] + df['children'] + df['babies']
print(f"\nTotal Guests - Mean: {df['total_guests'].mean():.2f}, Median: {df['total_guests'].median()}")

Guest Composition:
==================================================
Adults - Mean: 1.86, Median: 2.0
Children - Mean: 0.10, Median: 0.0
Babies - Mean: 0.01, Median: 0.0

Total Guests - Mean: 1.97, Median: 2.0

## 7. Temporal Analysis

In [8]:
# Arrival month analysis
print("Arrival Month Distribution:")
print("=" * 50)
month_counts = df['arrival_date_month'].value_counts()
print(month_counts)

# Yearly trends
print("\n\nArrival Year Distribution:")
print("=" * 50)
year_counts = df['arrival_date_year'].value_counts().sort_index()
for year, count in year_counts.items():
    print(f"{year}: {count} bookings")

Arrival Month Distribution:
==================================================
arrival_date_month
August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
March         9794
February      8068
November      6794
December      6780
January       5929
Name: count, dtype: int64


Arrival Year Distribution:
==================================================
2015: 21996 bookings
2016: 56707 bookings
2017: 40687 bookings

## 8. Stay Duration Analysis

In [9]:
# Stay duration
df['total_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']

print("Stay Duration Analysis:")
print("=" * 50)
print(f"Weekend Nights - Mean: {df['stays_in_weekend_nights'].mean():.2f}, Median: {df['stays_in_weekend_nights'].median()}")
print(f"Week Nights - Mean: {df['stays_in_week_nights'].mean():.2f}, Median: {df['stays_in_week_nights'].median()}")
print(f"Total Nights - Mean: {df['total_nights'].mean():.2f}, Median: {df['total_nights'].median()}")
print(f"\nMax Stay: {df['total_nights'].max()} nights")
print(f"Min Stay: {df['total_nights'].min()} nights")

Stay Duration Analysis:
==================================================
Weekend Nights - Mean: 0.93, Median: 1.0
Week Nights - Mean: 2.50, Median: 2.0
Total Nights - Mean: 3.43, Median: 3.0

Max Stay: 69 nights
Min Stay: 0 nights

## 9. Lead Time Analysis

In [10]:
# Lead time analysis
print("Lead Time Analysis:")
print("=" * 50)
print(f"Mean Lead Time: {df['lead_time'].mean():.2f} days")
print(f"Median Lead Time: {df['lead_time'].median()} days")
print(f"Max Lead Time: {df['lead_time'].max()} days")
print(f"Min Lead Time: {df['lead_time'].min()} days")

# Lead time vs cancellation
print("\n\nLead Time by Cancellation Status:")
print("=" * 50)
lead_by_cancel = df.groupby('is_canceled')['lead_time'].agg(['mean', 'median'])
lead_by_cancel.index = ['Not Canceled', 'Canceled']
print(lead_by_cancel.round(2))

Lead Time Analysis:
==================================================
Mean Lead Time: 104.01 days
Median Lead Time: 69.0 days
Max Lead Time: 737 days
Min Lead Time: 0 days


Lead Time by Cancellation Status:
==================================================
                mean  median
Not Canceled   79.98    45.0
Canceled      144.85   113.0

## 10. Average Daily Rate (ADR) Analysis

In [11]:
# ADR analysis
print("Average Daily Rate (ADR) Analysis:")
print("=" * 50)
print(f"Mean ADR: ${df['adr'].mean():.2f}")
print(f"Median ADR: ${df['adr'].median():.2f}")
print(f"Max ADR: ${df['adr'].max():.2f}")
print(f"Min ADR: ${df['adr'].min():.2f}")

# ADR by hotel type
print("\n\nADR by Hotel Type:")
print("=" * 50)
adr_by_hotel = df.groupby('hotel')['adr'].agg(['mean', 'median'])
print(adr_by_hotel.round(2))

Average Daily Rate (ADR) Analysis:
==================================================
Mean ADR: $101.83
Median ADR: $94.58
Max ADR: $5400.00
Min ADR: $-6.38


ADR by Hotel Type:
==================================================
                mean  median
hotel
City Hotel    105.30    99.9
Resort Hotel   94.95    75.0

## 11. Market Segment Analysis

In [12]:
# Market segment distribution
print("Market Segment Distribution:")
print("=" * 50)
segment_counts = df['market_segment'].value_counts()
for segment, count in segment_counts.items():
    pct = (count / len(df)) * 100
    print(f"{segment}: {count} ({pct:.2f}%)")

# Cancellation by segment
print("\n\nCancellation Rate by Market Segment:")
print("=" * 50)
cancel_by_segment = df.groupby('market_segment')['is_canceled'].mean() * 100
print(cancel_by_segment.sort_values(ascending=False).round(2))

Market Segment Distribution:
==================================================
Online TA: 56477 (47.30%)
Offline TA/TO: 24219 (20.29%)
Groups: 19811 (16.59%)
Direct: 12606 (10.56%)
Corporate: 5295 (4.44%)
Complementary: 743 (0.62%)
Aviation: 237 (0.20%)
Undefined: 2 (0.00%)


Cancellation Rate by Market Segment:
==================================================
market_segment
Undefined        100.00
Groups            61.06
Online TA         36.72
Offline TA/TO     34.32
Aviation          21.94
Corporate         18.73
Direct            15.34
Complementary     13.06
Name: is_canceled, dtype: float64

## 12. Save Processed Data

In [13]:
# Save dataset with new features
df.to_csv('data/hotel_bookings_explored.csv', index=False)
print("✓ Dataset saved to 'data/hotel_bookings_explored.csv'")
print(f"✓ Shape: {df.shape}")
print(f"✓ New features added: total_guests, total_nights")

✓ Dataset saved to 'data/hotel_bookings_explored.csv'
✓ Shape: (119390, 34)
✓ New features added: total_guests, total_nights